html {
    background-color: black;
} 

#header {
    font-size: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}

#calc {
    display: grid;
    padding-inline: 20%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "calcGridMain calcGridText";
}

#calcScreenText {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calcMain {
    grid-area: calcGridMain;
    border: 2px solid rgb(255, 125, 0);
}

#calcHistory {
    grid-area: calcGridText;
    border: 2px solid rgb(255, 125, 0);
}

#calcHistoryText {
    color: rgb(255, 255, 255);
    text-align: right;
    padding-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonEqual {
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.buttonRow {
    display: grid;
    grid-template-columns: repeat(4, 5em);
    grid-template-rows: repeat(4, 100%);
    justify-content: center;
}

.button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 125, 0);
    border: none;
    /* padding: 20px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.button:hover {
    background-color: rgb(10, 10, 10);
    border: 10px;
    border-color: rgb(255, 125, 0);
    /* padding: 20px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.button:active {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 125, 0);
    outline: none;
    /* padding: 20px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.colorButtons {
    background-color: rgb(0, 0, 0);
    border: none;
    /* padding: 20px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#buttonPurple {
    color: rgb(255, 0, 255);
}
#buttonGreen {
    color: rgb(0, 255, 0);
}
#buttonYellow {
    color: rgb(255, 255, 0);
}
#buttonOrange {
    color: rgb(255, 125, 0);
}

#calcButtons1 {
    grid-area: calcGridButtons1;
}
#calcButtons2 {
    grid-area: calcGridButtons2;
}
#calcButtons3 {
    grid-area: calcGridButtons3;
}
#calcButtons4 {
    grid-area: calcGridButtons4;
}
#calcButtons5 {
    grid-area: calcGridButtons5;
}
#calcButtons6 {
    grid-area: calcGridButtons6;
}

@media (max-width: 600px) {
    #calc {
        display: inline;
    }

    calcButtons1 {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);
        justify-content: center;
    }
}

@-webkit-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-moz-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-ms-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-o-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}